body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#2e7d32;
color:white;
padding:30px;
text-align:center;
}

.hero{
background:url("https://images.unsplash.com/photo-1603252109303-2751441dd157");
background-size:cover;
background-position:center;
color:white;
text-align:center;
padding:100px 20px;
}

.hero .btn{
background:#2e7d32;
padding:12px 25px;
color:white;
text-decoration:none;
border-radius:5px;
}

nav{
background:#1b5e20;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

.search{
text-align:center;
padding:20px;
}

.search input{
padding:10px;
width:250px;
border-radius:5px;
border:1px solid #ccc;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.product{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.product img{
width:100%;
border-radius:10px;
}

button{
background:#2e7d32;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#1b5e20;
}

#cart{
background:white;
padding:30px;
margin:20px;
border-radius:10px;
}

footer{
background:#333;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
