body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

header{
background:#2e7d32;
color:white;
padding:30px;
text-align:center;
}

nav{
background:#1b5e20;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.product{
background:white;
border:1px solid #ddd;
padding:20px;
margin:20px;
border-radius:10px;
}

.product img{
width:100%;
max-width:250px;
}
